@layer antd {
  :where(.ant-list-loading > .ant-spin-nested-loading) {
    min-height: var(--ao-list-loading-height);
  }
  :where(.ant-spin) {
    --ao-spin-size: var(--ao-spin-default-size);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ao-font);
    font-weight: normal;
    line-height: var(--ao-line);
    list-style: none;
    position: absolute;
    display: none;
    color: var(--ao-primary);
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: transform var(--ao-spin-slow) var(--ao-spin-ease);
  }
  :where(.ant-spin-spinning) {
    position: relative;
    display: inline-block;
    opacity: 1;
  }
  :where(.ant-spin-sm) {
    --ao-spin-size: var(--ao-spin-size-sm);
  }
  :where(.ant-spin-lg) {
    --ao-spin-size: var(--ao-spin-size-lg);
  }
  :where(.ant-spin-text) {
    box-sizing: border-box;
    font-size: var(--ao-font-size);
    padding-top: calc(
      (var(--ao-spin-default-size) - var(--ao-font-size)) /
      2 +
      2px
    );
  }
  :where(.ant-spin-fullscreen) {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--ao-spin-mask);
    z-index: var(--ao-spin-z);
    inset: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all var(--ao-spin-mid);
  }
  :where(.ant-spin-fullscreen-show) {
    opacity: 1;
    visibility: visible;
  }
  :where(.ant-spin-dot-holder) {
    width: 1em;
    height: 1em;
    font-size: var(--ao-spin-size);
    display: inline-block;
    transition:
      transform var(--ao-spin-slow) ease,
      opacity var(--ao-spin-slow) ease;
    transform-origin: 50% 50%;
    line-height: 1;
    color: var(--ao-primary);
  }
  :where(.ant-spin-dot-holder-hidden) {
    transform: scale(0.3);
    opacity: 0;
  }
  :where(.ant-spin-dot-progress) {
    position: absolute;
    top: 0;
    inset-inline-start: 50%;
    margin-inline-start: calc(var(--ao-spin-size) / -2);
  }
  :where(.ant-spin-dot) {
    position: relative;
    display: inline-block;
    font-size: var(--ao-spin-size);
    width: 1em;
    height: 1em;
  }
  :where(.ant-spin-dot-item) {
    position: absolute;
    display: block;
    width: calc((var(--ao-spin-size) - var(--ao-spin-margin) / 2) / 2);
    height: calc((var(--ao-spin-size) - var(--ao-spin-margin) / 2) / 2);
    background: currentColor;
    border-radius: 100%;
    transform: scale(0.75);
    transform-origin: 50% 50%;
    opacity: 0.3;
    animation: ao-spin-fade 1s infinite linear alternate;
  }
  :where(.ant-spin-dot-item:nth-child(1)) {
    top: 0;
    inset-inline-start: 0;
    animation-delay: 0s;
  }
  :where(.ant-spin-dot-item:nth-child(2)) {
    top: 0;
    inset-inline-end: 0;
    animation-delay: 0.4s;
  }
  :where(.ant-spin-dot-item:nth-child(3)) {
    bottom: 0;
    inset-inline-end: 0;
    animation-delay: 0.8s;
  }
  :where(.ant-spin-dot-item:nth-child(4)) {
    bottom: 0;
    inset-inline-start: 0;
    animation-delay: 1.2s;
  }
  :where(.ant-spin-dot-spin) {
    transform: rotate(45deg);
    animation: ao-spin-rotate 1.2s infinite linear;
  }
  :where(.ant-spin-lg .ant-spin-dot-holder i) {
    width: calc((var(--ao-spin-size) - var(--ao-spin-margin)) / 2);
    height: calc((var(--ao-spin-size) - var(--ao-spin-margin)) / 2);
  }
  :where(.ant-spin-dot-circle) {
    stroke-linecap: round;
    transition:
      stroke-dashoffset var(--ao-spin-slow) ease,
      stroke-dasharray var(--ao-spin-slow) ease,
      stroke var(--ao-spin-slow) ease,
      stroke-width var(--ao-spin-slow) ease,
      opacity var(--ao-spin-slow) ease;
    fill-opacity: 0;
    stroke: currentColor;
  }
  :where(.ant-spin-dot-circle-bg) {
    stroke: var(--ao-spin-fill);
  }
  :where(.ant-spin-show-text .ant-spin-text) {
    display: block;
  }
  :where(.ant-spin-fullscreen .ant-spin .ant-spin-dot-holder) {
    color: var(--ao-spin-white);
  }
  :where(.ant-spin-fullscreen .ant-spin .ant-spin-text) {
    color: var(--ao-spin-light);
  }
  :where(.ant-spin-nested-loading) {
    position: relative;
  }
  :where(.ant-spin-nested-loading > div > .ant-spin) {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    max-height: var(--ao-spin-height);
  }
  :where(
      .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot,
      .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot-progress
    ) {
    position: absolute;
    top: 50%;
    inset-inline-start: 50%;
    margin: calc(var(--ao-spin-size) / -2);
  }
  :where(.ant-spin-nested-loading > div > .ant-spin .ant-spin-text) {
    position: absolute;
    top: 50%;
    width: 100%;
    text-shadow: 0 1px 2px var(--ao-bg);
    padding-top: calc((var(--ao-spin-size) - var(--ao-font-size)) / 2 + 2px);
  }
  :where(
      .ant-spin-nested-loading > div > .ant-spin-show-text .ant-spin-dot,
      .ant-spin-nested-loading
        > div
        > .ant-spin-show-text
        .ant-spin-dot-progress
    ) {
    margin-top: calc(var(--ao-spin-size) / -2 - 10px);
  }
  :where(.ant-spin-nested-loading .ant-spin-container) {
    position: relative;
    transition: opacity var(--ao-spin-slow);
  }
  :where(.ant-spin-nested-loading .ant-spin-container)::after {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: var(--ao-bg);
    opacity: 0;
    transition: all var(--ao-spin-slow);
    content: "";
    pointer-events: none;
  }
  :where(.ant-spin-nested-loading .ant-spin-blur) {
    clear: both;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
  :where(.ant-spin-nested-loading .ant-spin-blur)::after {
    opacity: 0.4;
    pointer-events: auto;
  }
  :where(.ant-skeleton) {
    display: table;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--ao-font);
    font-size: var(--ao-font-size);
  }
  :where(.ant-skeleton-header) {
    display: table-cell;
    padding-inline-end: var(--ao-skeleton-avatar-gap);
    vertical-align: top;
  }
  :where(.ant-skeleton-content) {
    display: table-cell;
    width: 100%;
    vertical-align: top;
  }
  :where(.ant-skeleton-title) {
    width: 100%;
    height: var(--ao-skeleton-title);
    background: var(--ao-skeleton-from);
    border-radius: var(--ao-skeleton-radius);
  }
  :where(.ant-skeleton-with-avatar .ant-skeleton-title) {
    margin-block-start: var(--ao-skeleton-gap);
  }
  :where(.ant-skeleton-paragraph) {
    padding: 0;
  }
  :where(.ant-skeleton-title + .ant-skeleton-paragraph) {
    margin-block-start: var(--ao-skeleton-title-gap);
  }
  :where(
      .ant-skeleton-with-avatar .ant-skeleton-title + .ant-skeleton-paragraph
    ) {
    margin-block-start: var(--ao-skeleton-margin);
  }
  :where(.ant-skeleton-paragraph > li) {
    height: var(--ao-skeleton-line);
    width: 100%;
    list-style: none;
    background: var(--ao-skeleton-from);
    border-radius: var(--ao-skeleton-radius);
  }
  :where(.ant-skeleton-paragraph > li + li) {
    margin-block-start: var(--ao-skeleton-row-gap);
  }
  :where(
      .ant-skeleton-paragraph
        > li:last-child:not(:first-child):not(:nth-child(2))
    ) {
    width: 61%;
  }
  :where(.ant-skeleton-element) {
    display: inline-block;
    width: auto;
  }
  :where(.ant-skeleton-avatar, .ant-skeleton-button, .ant-skeleton-input) {
    display: inline-block;
    vertical-align: top;
    background: var(--ao-skeleton-from);
    height: var(--ao-skeleton-control-height);
    line-height: var(--ao-skeleton-control-height);
  }
  :where(.ant-skeleton-avatar) {
    width: var(--ao-skeleton-control-height);
  }
  :where(
      .ant-skeleton-avatar-lg,
      .ant-skeleton-button-lg,
      .ant-skeleton-input-lg
    ) {
    --ao-skeleton-control-height: var(--ao-skeleton-control-height-lg);
  }
  :where(
      .ant-skeleton-avatar-sm,
      .ant-skeleton-button-sm,
      .ant-skeleton-input-sm
    ) {
    --ao-skeleton-control-height: var(--ao-skeleton-control-height-sm);
  }
  :where(.ant-skeleton-avatar-circle) {
    border-radius: 50%;
  }
  :where(.ant-skeleton-button, .ant-skeleton-input) {
    border-radius: var(--ao-skeleton-element-radius);
  }
  :where(.ant-skeleton-button) {
    width: calc(var(--ao-skeleton-control-height) * 2);
    min-width: calc(var(--ao-skeleton-control-height) * 2);
  }
  :where(.ant-skeleton-button-circle) {
    width: var(--ao-skeleton-control-height);
    min-width: var(--ao-skeleton-control-height);
    border-radius: 50%;
  }
  :where(.ant-skeleton-button-round) {
    border-radius: var(--ao-skeleton-control-height);
  }
  :where(.ant-skeleton-input) {
    width: calc(var(--ao-skeleton-control-height) * 5);
    min-width: calc(var(--ao-skeleton-control-height) * 5);
  }
  :where(.ant-skeleton-block) {
    width: 100%;
  }
  :where(
      .ant-skeleton-block .ant-skeleton-button,
      .ant-skeleton-block .ant-skeleton-input
    ) {
    width: 100%;
  }
  :where(.ant-skeleton-image) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background: var(--ao-skeleton-from);
    border-radius: var(--ao-skeleton-element-radius);
    width: calc(var(--ao-skeleton-image-size) * 2);
    height: calc(var(--ao-skeleton-image-size) * 2);
    line-height: calc(var(--ao-skeleton-image-size) * 2);
  }
  :where(.ant-skeleton-image-svg) {
    width: var(--ao-skeleton-image-size);
    height: var(--ao-skeleton-image-size);
    line-height: var(--ao-skeleton-image-size);
    max-width: calc(var(--ao-skeleton-image-size) * 4);
    max-height: calc(var(--ao-skeleton-image-size) * 4);
  }
  :where(.ant-skeleton-image-path) {
    fill: #bfbfbf;
  }
  :where(
      .ant-skeleton-round .ant-skeleton-title,
      .ant-skeleton-round .ant-skeleton-paragraph > li
    ) {
    border-radius: 100px;
  }
  :where(
      .ant-skeleton-active .ant-skeleton-title,
      .ant-skeleton-active .ant-skeleton-paragraph > li,
      .ant-skeleton-active .ant-skeleton-avatar,
      .ant-skeleton-active .ant-skeleton-button,
      .ant-skeleton-active .ant-skeleton-input,
      .ant-skeleton-active .ant-skeleton-image
    ) {
    background: linear-gradient(
      90deg,
      var(--ao-skeleton-from) 25%,
      var(--ao-skeleton-to) 37%,
      var(--ao-skeleton-from) 63%
    );
    background-size: 400% 100%;
    animation: ao-skeleton 1.4s ease infinite;
  }
  @keyframes ao-spin-rotate {
    to {
      transform: rotate(405deg);
    }
  }
  @keyframes ao-spin-fade {
    to {
      opacity: 1;
    }
  }
  @keyframes ao-skeleton {
    from {
      background-position: 100% 50%;
    }
    to {
      background-position: 0 50%;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    :where(
        .ant-spin-dot,
        .ant-spin-dot i,
        .ant-skeleton-active .ant-skeleton-title,
        .ant-skeleton-active .ant-skeleton-paragraph > li,
        .ant-skeleton-active .ant-skeleton-avatar,
        .ant-skeleton-active .ant-skeleton-button,
        .ant-skeleton-active .ant-skeleton-input,
        .ant-skeleton-active .ant-skeleton-image
      ) {
      animation: none;
    }
    :where(.ant-spin-container) {
      transition: none;
    }
  }
}
